.connection-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
}

.connect-form {
    max-width: 600px;
    margin: 10px;
}

.connect-form .connect-form-field {
    width: 100%;
}