<md-toolbar color="primary">MySharpView</md-toolbar>

<div>
    <md-tab-group>
        <md-tab label="连接">
            <connection-panel></connection-panel>
        </md-tab>
        <md-tab label="结构" [disabled]="!database.table">
            <structure-panel></structure-panel>
        </md-tab>
        <md-tab label="数据" [disabled]="!database.table">
            数据
        </md-tab>
        <md-tab label="查询" [disabled]="!database.table">
            查询
        </md-tab>
    </md-tab-group>
</div>