.filter-panel {
    padding: 0 24px;
}

.data-table-container {
    overflow: scroll;
}

md-table {
    display: table;
}

md-header-row, md-row {
    display: table-row;
    padding: 0 12px;
}

md-header-cell, md-cell {
    display: table-cell;
    padding: 12px 0 12px 24px;
    border-bottom: 1px solid #ddd;
    max-width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}